html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

.interest-points {
    background: #111;
    /*border: 1px solid #999;*/
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 0px 10px;
    text-align: left;
    width: 340px;
    overflow: scroll;
}

/*.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}*/

/*.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}*/

/*
#main {
    transition: margin-left .5s;
    padding-right: 0;
    padding-left: 0;
    height: 92%;

}

container, #row2 {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}

.col-md-12 {
    padding-right: 0;
    padding-left: 0;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/


#sidebar-title {
    color: white;
    font-weight:normal;
    font-size: 1.6em;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    /*clear: left;*/
    /*text-align: center;*/
}

.map-header {
    position: absolute;
    width: 100%;
    display: top;
}

footer {
    text-align: center;
}

#map {
    bottom:0px;
    height: 100%;
    left: 362px;
    position: absolute;
    right: 0px;
}

.listings, a {
    text-decoration:  none;
    font-size: 1.10em;
    color: white;
    padding: 0;
}

.read {
    text-decoration:  none;
    color: blue;
}

#pano {
    width: 200px;
    height: 200px;
}

#search-listings-area-text {
    width: 70%;
    font-size: 1em;
}

#search-listings-area {
    width: 27%;
    font-size: 1em;
    background-color: #808080;
    border: 0;
    padding: 3px 9px;
    color: white;
    background-image: url("../img/ic_search_white_18dp_1x.png"); /* 16px x 16px */
    background-repeat: no-repeat;  /* make the background image appear only once */
}

#search-icon {
    float: left;
}